@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  background-image: url('/wp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
